{% extends 'base.twig' %}

{% block body %}
	<div>
		<h1>Edition d'un champ optionel</h1>

		<form id="edit_form" method="post">
			<input type="hidden" name="act" value="save">
			<table class="table table-hover table-striped table-bordered rounded-lg shadow text-center">
				<tbody>
					<tr>
						<th>#</th>
						<th>
							{% if meta["id"] %}
								{{meta["id"]}}
							{% endif %}
						</th>
					</tr>
					<tr>
						<th scope="col">
							Pour la table
						</th>
						<th scope="col">
							{{meta["table_name"]}}
						</th>
					</tr>
					<tr>
						<th scope="col">
							Nom du champ
						</th>
						<th scope="col">
							<input class="form-control" name='field_name' value='{{meta["field_name"]}}'/>
						</th>
					</tr>
					<tr>
						<th scope="col">
							Type du champ
						</th>
						<th scope="col">
							{% if meta["id"] == -1 %}
								<select class="form-control" name="type">
									{% for t in types %}
										<option value="{{t}}" {% if t == meta["type"] %} selected {% endif %}>{{t}}</option>
									{% endfor %}
								</select>
							{% else %}
								{{meta["type"]}}
							{% endif %}
						</th>
					</tr>
					<tr>
						<th scope="col">
							Intitulé du champ (pour la recherche)
						</th>
						<th scope="col">
							<input class="form-control" name='label' value='{{meta["label"]}}'/>
						</th>
					</tr>
					<tr>
						<th scope="col">
							Champ actif ?
						</th>
						<th scope="col">
							<select class="form-control" name="active">
								<option value="1" {% if '1' == meta["active"] %} selected {% endif %}>Oui</option>
								<option value="0" {% if '0' == meta["active"] %} selected {% endif %}>Non</option>
							</select>
						</th>
					</tr>
				</tbody>
			</table>
			<div class="col text-center">
				<input class="btn btn-secondary" type="submit"/>
			</div>
		</form>
	</div>

{% endblock %}
