<td>
    <!-- <img id="b_{{ data[0]["record_id"] }}_add" class="action_icon"
         onclick="javascript:add_to_basket({{ data[0]["record_id"] }})" src="assets/img/emprunter.png"
         {% if data[0]["in_basket"] %}style='display:none'{% endif %}/>
    <img id="b_{{ data[0]["record_id"] }}_rem" class="action_icon"
         onclick="javascript:rem_from_basket({{ data[0]["record_id"] }})" src="assets/img/inactive.png"
         {% if not data[0]["in_basket"] %}style='display:none'{% endif %}/> -->
    
    <button id="b_{{ data[0]["record_id"] }}_add" class="btn btn-outline-success action_icon" onclick="javascript:add_to_basket({{ data[0]["record_id"] }})" {% if data[0]["in_basket"] %} style='display:none' {% endif %}>
        <i class="bi bi-cart-plus" style="font-size: 20px;"></i>  
    </button>
    <button id="b_{{ data[0]["record_id"] }}_rem" class="btn btn-outline-danger action_icon" onclick="javascript:rem_from_basket({{ data[0]["record_id"] }})"  {% if not data[0]["in_basket"] %} style='display:none' {% endif %}>
        <i class="bi bi-cart-dash" style="font-size: 20px;"></i> 
    </button>   
</td>
<td>      
    <button id="b_{{ loop.index0 }}_play" class="btn btn-outline-secondary" onclick="javascript:showAudioTag({{ loop.index0 }})">
        <i class="bi bi-play-fill" style="font-size: 20px;"></i>
    </button>
    <button id="b_{{ loop.index0 }}_stop" class="btn btn-outline-secondary" onclick="javascript:hideAudioTag({{ loop.index0 }})" style="display:none">
        <i class="bi bi-stop-fill" style="font-size: 20px;"></i>
    </button>        
    <!-- <audio controls preload="none">
            <source src="./assets/files/{{ data[0]["filename"] }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio> -->
</td>
{% for met in metas["record"] %}
    <td>
        {{ data[0][met["field_name"]] }}
    </td>
{% endfor %}
<td>
    {% for line in data %}
        {{ line["sequence_order"] }} <br/>
    {% endfor %}
</td>
{% for met in metas["production"] %}
    <td>
        {% for line in data %}
            {{ line[met["field_name"]] }}<br/>
        {% endfor %}
    </td>
{% endfor %}
{% for met in metas["speaker"] %}
    <td>
        {% for line in data %}
            {{ line[met["field_name"]] }}<br/>
        {% endfor %}
    </td>
{% endfor %}