<p> Tips : scroll to left with the cursor on the table to see more informations</p>

<table class="table table-responsive table-hover table-striped rounded-lg shadow text-center" id="table"
	   data-toggle="table"
	   data-cache="true"
	   data-filter-control="true"
	   data-sort-order="desc">
	<thead>
		<tr>
			<th></th>
			<th></th>
			{% for data in metas["record"] %}
				{% if data.type == 'txt' %}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="input">
						{{ data["label"] }}
					</th>
				{% elseif data.type == 'int' or data.type == 'float'%}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="input">
						{{ data["label"] }}
					</th>
				{% else %}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="datepicker">
						{{ data["label"] }}
					</th>
				{% endif %}
			{% endfor %}
			<th></th>
			{% for data in metas["production"] %}
				{% if data.type == 'txt' %}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="input">
						{{ data["label"] }}
					</th>
				{% elseif data.type == 'int' or data.type == 'float'%}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="select">
						{{ data["label"] }}
					</th>
				{% else %}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="datepicker">
						{{ data["label"] }}
					</th>
				{% endif %}
			{% endfor %}
			{% for data in metas["speaker"] %}
				{% if data.type == 'txt' %}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="input">
						{{ data["label"] }}
					</th>
				{% elseif data.type == 'int' or data.type == 'float'%}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="select">
						{{ data["label"] }}
					</th>
				{% else %}
					<th data-field="{{ data["field_name"] }}" data-sortable="true" data-filter-control="datepicker">
						{{ data["label"] }}
					</th>
				{% endif %}
			{% endfor %}
		</tr>
	</thead>
</tr></thead><tbody>
{% for data in results %}
	<tr id="record{{ data[" record_id"] }}">
		{% include 'one_record.twig' with {'data': data, 'metas':metas} %}
	</tr>
{% endfor %}</tbody></table>
